<a href="https://colab.research.google.com/github/himasai-1423/pyspark-practice/blob/main/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('newApplication').getOrCreate()

In [4]:
spark

In [5]:
import pandas as pd
df = pd.read_excel("data-set-1.xlsx")
df.to_csv("data-set-1.csv", index=False)

In [9]:
df_pyspark = spark.read.csv('Book1.csv', header=True, inferSchema=True)

In [10]:
df_pyspark.show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
| Himasai Reddy|  22|         2|170000|
|Yaswanth Reddy|  21|         1|140000|
|         Nakul|  22|         1| 60000|
|         Aryan|  24|         2| 30000|
|       Dheepak|  28|         7|300000|
|        Naveen|  32|        11|150000|
|          NULL|  45|        23|600000|
|         Arjun|NULL|      NULL|346000|
|          NULL|  48|      NULL|  NULL|
+--------------+----+----------+------+